{% extends "base.html" %}

{% block content %}
    {% include 'cms/models.html' %}
    <div class="add-emp-div">
            <span class="btn-add-emp"><button class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Employee</button></span>
    </div>
    <table id="table_id" class="display table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for em in emp %}
        <tr>
            <td>{{ em.employee_id }}</td>
            <td>{{ em.employee_name }}</td>
            <td>{{ em.email }}</td>
        </tr>
   {% endfor %}
    </tbody>
</table>
<script>
$(document).ready( function () {
    $('#home').removeClass("active");
    $('#report').removeClass("active");
    $('#list').addClass("active");

    $('#table_id').dataTable( {
                            "pageLength": 25
                            } );

} );
</script>
{% endblock %}


