{% extends "base.html" %}

{% block content %}
    <h4 align="center"><strong>{{ date }}</strong></h4>
        <div class="add-emp-div">
             <span class="btn-add-emp"><a href="/export/" class="btn btn-warning">Export to CSV</a></span>
    </div>

    <table id="table_id" class="display table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for key, values in food.items %}
        <tr>
            <td>{{ key.employee_id }}</td>
            <td>{{ key.employee_name }}</td>
            <td>{{ values.0 }}</td>
            <td>{{ values.1 }}</td>
            <td>{{ values.2 }}</td>
        </tr>
   {% endfor %}
    </tbody>
</table>
<script>
$(document).ready( function () {
    $('#home').removeClass("active");
    $('#list').removeClass("active");
    $('#report').addClass("active");

    $('#table_id').dataTable({
        "pageLength": 100
    });

} );
</script>
{% endblock %}


